*{
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact__nav-link{
    color: #575757;
    text-transform: uppercase;
    padding-right: 10px;
}

/* ****************************************** */
/* ------------ header start -------------- */

.header__text{
    color: #282929;
    font-weight: 900;
    
}
.section .wox {
    padding: 0 111px 58px 166px;
}
.section{
    background: #f6f6f6;
}

.section .testeron{
    padding-top: 65px;
}

.section .block{
    background: #007d2f;
    width: 100%;
    height: 95px;
}

.secti__tex{
    display: flex;
    
}
.title__img{
    width: 100%;
    height: 480px;
}
.title__h2{
    font-size: 35px;
}
.title__p{
    font-size: 17px;
}
.section .iconka__img{
    width: 13px;
    height: 14px;
    
}
.section .unglar{
    margin-top: 40px;
    padding-bottom: 40px;
}

/* ----------------------- section end------------------------------- */
/* ********************************************************************* */
/* ----------------------------- footer start ---------------------------- */
.footer{
    width: 100%;
    height: 245px;
    background: #141414;
}
.footer .textp{
    color: #737373;
    padding-top: 90px;
    padding-right: 166px;
    font-size: 16px;
}
.text__ul{
    font-size: 16px;
}
.footer .textp2{
    color: #737373;
    padding-right: 30px;
    padding-top: 20px;
    font-size: 16px;
}


.footer .title{
    color: #ffffffe9;
    padding-top: 80px;
    font-size: 25px;
}
.texteram-footer{
    
    margin-top: 90px;
}

.texteram-footer a{
    color: #737373;
}
.section .row{
    color: #737373;
    padding-top: 34px;
}
.section .urtasi {
    padding-left: 180px;
}
.section .unglar{
    padding-left: 220px;
}
.section .row .text_ws{
    color: #f6f6f6;
    font-size: 13px;
    text-transform: uppercase;
}
.footer__img{
    font-size: 12px;
    width: 16px;
    height: 16px;
}
@media (max-width: 1999px){
    .section .wox {
        padding: 0 0px 60px 0px;
    }
    .section .unglar {
        padding-left: 200px;
    }
    .section .urtasi {
        padding-left: 167px;
    }
    .title__img {
        width: 100%;
        height: 448px;
    }
}

@media (max-width: 991px){
    .section .unglar {
        padding-left: 118px;
    }
    .section .urtasi {
        padding-left: 116px;
    }
    .texteram-footer {
        margin-top: 30px;
    }
    .footer {
        height: 358px;
    }
    .title__img{
    width: 80%;
    height: 300px;
    }
    .section .wox {
        padding: 0 0px 21px 0px;
    }
    .title__img {
        width: 100%;
        height: 300px;
    }
    .section .testeron {
        padding-top: 25px;
    }
    .section .block {
        height: 80px;
    }
    .title__h2 {
        font-size: 30px;
    }
    .title__p {
        font-size: 15px;
    }

    
}



@media (max-width: 768px){
    .title__h2 {
        font-size: 26px;
    }
    .title__p {
        font-size: 13px;
    }
    .section .row {
        padding-top: 23px;
    }
    .section .row .text_ws {
        font-size: 10px;
    }
    .section .unglar {
        padding-left: 82px;
    }
    .section .urtasi {
        padding-left: 94px;
    }
    .section .block {
        height: 60px;
    }
    .section .iconka__img {
        width: 8px;
        height: 9px;
    }
    .footer .title {
        padding-top: 20px;
    }
    .footer .textp {
        padding-top: 19px;
    }
    
}

@media (max-width: 768px){
    .title__h2 {
        font-size: 20px;
    }
    .title__p {
        font-size: 11px;
    }
    .section .testeron {
        padding-top: 10px;
    }
    .footer .textp2 {
        font-size: 12px;
    }
    .footer .title {
        font-size: 20px;
    }
    .footer .textp2 {
        padding-top: 7px;
    }
    .text__ul {
        font-size: 12px;
    }
    .footer .textp {
        font-size: 12px;
    }
    .footer {
        height: 285px;
    }.footer__img {
        width: 10px;
        height: 10px;
    }
}
@media (max-width: 575px){
    .row {
        margin-right: 40px;
        margin-left: 40px;
    }
    .title__img {
        width: 100%;
        height: 100%;
    }
    .section .row {
        padding-top: 15px;
    }
    .section .block {
        height: 45px;
    }
    
    .section .iconka__img {
        width: 6px;
        height: 7px;
    }
    .section .urtasi {
        padding-left: 82px;
    }
    .section .unglar {
        padding-left: 17px;
    }
    .section .row .text_ws {
        font-size: 5px;
    }
    .section .urtasi {
        padding-left: 28px;
    }
    .footer .title {
        font-size: 16px;
    }
    .footer .textp {
        font-size: 10px;
    }
    .footer .textp2 {
        font-size: 10px;
    }
    .text__ul {
        font-size: 10px;
    }
    .footer .textp {
        padding-top: 0px;
    }
    .texteram-footer {
        margin-top: 5px;
    }
}

@media (max-width: 335px){
    .section .unglar {
        padding-left: 21px;
    }
    .section .urtasi {
        padding-left: 30px;
    }
    .section .row .text_ws {
        font-size: 4px;
    }
}